.container {
    position: relative;

    button {
        color: var(--white);

        svg {
            cursor: pointer;
        }

        &:hover {
            transform: scale(1.1);
        }
    }
}