.selo {
    padding: 5px;
    border: 1px solid white;
    border-radius: .4rem;
    font-weight: 900;
    font-family: var(--font-Montserrat);
    width: 30px;
    text-align: center;
    cursor: default;
}