.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;


    h2 {
        border-bottom: 2px solid white;
        padding-bottom: 5px;
    }

    .cardContainer {
        display: flex;
        //width: 100%;        

        .slide {
            padding-right: 6px;
            //height: 400px;
            //outline: 2px solid blue;
        }
    }
}

@media(max-width: 915px) {
    .container {
        .cardContainer {
            .slide {
                padding-right: 1px;
            }
        }
    }
}