.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    //height: 300px;
    //outline: 2px solid blue;

    .cardContainer {
        display: flex;
        //gap: 20px;
        //overflow-x: scroll;
        width: 100%;
        //padding-right: 20px;
        //height: 400px;
        //padding-bottom: 30px;
        //scrollbar-color: var(--grey) var(--background-gray-light);
        //outline: 2px solid red;
        //padding: 0 20px;

        .slide {
            padding-right: 6px;
            //height: 400px;
            //outline: 2px solid blue;
        }
    }
}

@media(max-width: 915px) {
    .container {
        .cardContainer {
            .slide {
                padding-right: 1px;
            }
        }
    }
}