.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: var(--white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;


    h2 {
        text-align: center;
    }

    p {
        margin-bottom: 20px;
    }

    .billet {
        display: flex;
        width: 100%;
        justify-content: center;

    }

    .aviso {
        display: flex;
        flex-direction: column;
        gap: 10px;

        label {
            display: flex;
            gap: 10px;

            p {
                font-size: 1rem;
            }
        }

        p {
            font-size: .7rem;
            text-align: justify;
        }
    }


}