.container {
    display: flex;
    justify-content: center;
    padding: 150px 20px;
    font-family: var(--font-Roboto);

    @media (max-width: 768px) {
        padding: 100px 16px;
    }

    @media (max-width: 480px) {
        padding: 60px 12px;
    }

}

.card {
    background: var(--black);
    max-width: 720px;
    width: 100%;
    padding: 32px;
    border-radius: 16px;
    //box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);

    @media (max-width: 480px) {
        padding: 24px 18px;
    }
}

.title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;

    @media (max-width: 480px) {
        font-size: 1.9rem;
    }
}

.thanks {
    font-size: 18px;
    margin-bottom: 3rem;
    text-align: center;

    @media (max-width: 480px) {
        font-size: 16px;
        margin-bottom: 2rem;
    }
}

.info {
    color: #b3b3b3;
    margin-bottom: 4rem;
    line-height: 1.5;

    @media (max-width: 480px) {
        margin-bottom: 2.5rem;
        font-size: 15px;
    }
}

.pixPdfContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    @media (max-width: 768px) {
        gap: 2rem;
    }

    @media (max-width: 620px) {
        flex-direction: column;
        gap: 3rem;
    }
}

.sectionPDF {
    background-color: rgba(0, 0, 0, .4);
    border-radius: 2rem;
    height: 210px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;

    @media (max-width: 480px) {
        width: 200px;
        height: 180px;
    }

    @media(hover:hover) and (pointer: fine) {
        &:hover {
            transform: scale(1.05);
        }
    }
}

.section {
    margin-top: 24px;
    text-align: center;

    h2 {
        font-size: 20px;
        margin-bottom: 10px;

        @media (max-width: 480px) {
            font-size: 18px;
        }
    }
}

.qrcode {
    width: 200px;
    height: 200px;

    @media (max-width: 480px) {
        width: 170px;
        height: 170px;
    }
}

.pdfLink {
    display: inline-block;
    background: #0051ff;
    color: #fff;
    padding: 10px 16px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 15px;

    @media (max-width: 480px) {
        padding: 8px 14px;
        font-size: 14px;
    }

    @media(hover:hover) and (pointer: fine) {
        &:hover {
            transform: scale(1.05);
        }
    }
}

.copyButton {
    background: #000;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;

    @media (max-width: 480px) {
        padding: 8px 10px;
        font-size: 14px;
    }
}

.barcodeText {
    font-family: monospace;
    font-size: 14px;
    background: #f2f2f2;
    color: var(--black);
    padding: 10px;
    border-radius: 8px;
    word-break: break-all;

    @media (max-width: 480px) {
        font-size: 13px;
        padding: 8px;
    }
}

.links {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 32px;


    a {
        color: var(--white);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    @media (max-width: 480px) {
        gap: 6px;
    }
}