.mainPage {
    font-family: var(--font-Roboto);
}



@media (max-width: 375px) {
    .sectionContainer {
        padding-top: 100px;

        .contentContainer {
            .title {
                padding-top: 100px;
            }

            .plansContainer {
                grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
                place-items: center;
            }
        }
    }

    .contentPromoContainer {


        .content {
            margin-top: 100px;

            .streamBrand {
                grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                gap: 8px;

                h2 {
                    font-size: 2rem;
                }

                svg {
                    height: 70px;
                }

                p {
                    font-size: 1rem;
                }

                .globo {
                    p {
                        font-size: 1.5rem;

                        span {
                            top: 20px;
                            left: 22px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 375.1px) and (max-width: 560px) {
    .sectionContainer {
        padding-top: 50px;


        .contentContainer {
            .title {
                padding-top: 100px;
            }

            .plansContainer {
                grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
                place-items: center;
            }
        }
    }

    .contentPromoContainer {
        .content {
            margin-top: 150px;

            .streamBrand {
                grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
                gap: 10px;

                h2 {
                    font-size: 2rem;
                }

                p {
                    font-size: 1rem;
                }

                svg {
                    height: 70px;
                }

                .globo {
                    p {
                        font-size: 1.8rem;

                        span {
                            top: 23px;
                            left: 27px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 560.1px) and (max-width: 768px) {
    .sectionContainer {
        padding-top: 100px;

        .contentContainer {
            justify-content: flex-start;

            .plansContainer {
                grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
                place-items: center;

            }
        }
    }

    .contentPromoContainer {
        .content {
            margin-top: 100px;

            .streamBrand {
                grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
                gap: 10px;

                svg {
                    height: 80px;
                }

                p {
                    font-size: 1.5rem;
                }

                .globo {
                    p {
                        font-size: 2rem;

                        span {
                            top: 23px;
                            left: 30px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 915px) {
    .sectionContainer {
        padding-top: 100px;
    }

    .contentPromoContainer {
        .content {
            margin-top: 200px;

            .streamBrand {
                .globo {
                    p {
                        font-size: 2.5rem;

                        span {
                            top: 30px;
                            left: 37px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1280px) {}

@media (max-width: 1440px) {}

@media (max-width: 1920px) {}