.container {
    background: var(--white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;

    .headerContainer {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;
        //outline: 2px solid red;
        padding-bottom: 20px;


        h2 {
            font-size: 1.4rem;
            text-align: center;
            //margin-bottom: 20px;
            color: var(--black);
            width: 100%;
        }
    }


    .form {
        .input {
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;

            .brandContainer {
                display: flex;
                align-items: center;
                //justify-content: flex-start;
                gap: 10px;
                //outline: 2px solid red;

                .brand {
                    padding: 0;
                    margin: 0;
                    //outline: 2px solid red;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            label {
                font-weight: bold;
                margin-bottom: 5px;
            }

            input {
                padding: 10px;
                font-size: 1rem;
                border-radius: 5px;
            }

            .numberInput {
                width: 100%;
            }

            .expireInput {
                width: 70px;
            }

            .cvvInput {
                width: 40px;
            }
        }

        .row {
            display: flex;
            justify-content: flex-start;
            gap: 10px;
        }


    }

    .aviso {
        display: flex;
        flex-direction: column;
        gap: 10px;

        label {
            display: flex;
            gap: 10px;

            input {
                cursor: pointer;
            }

            p {
                font-size: 1rem;
            }
        }

        p {
            font-size: .7rem;
            text-align: justify;
        }
    }
}

@media (max-width: 480px) {
    .container {
        padding: 18px;
        border-radius: 10px;
        gap: 18px;
        display: flex;
        flex-direction: column;
        //outline: 2px solid red;

        .headerContainer {

            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            svg {
                //outline: 2px solid red;
                //width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

            }

            .title {
                font-size: 1.2rem !important;
                width: 100%;
                height: 100%;
                text-align: center;
                place-content: center;
                //outline: 2px solid red;
            }

        }

        .form {
            gap: 16px;

            .row {
                flex-direction: column;
                gap: 12px;
            }

            input {
                font-size: 1rem;
            }

            .input {
                .expireInput {
                    width: 100px;
                }

                .cvvInput {
                    width: 50px;
                }
            }

            .brandContainer {
                padding: 8px;
            }
        }

        .aviso p {
            font-size: 0.72rem;
        }
    }
}