@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap");

:root {
  --blue: #2349bd;
  --blue-selected: #1e49d2cc;
  --grey: #686868;
  --grey-selected: #a29f9f;
  --red: #d42c2c;
  --red-selected: #aa2323;
  --white: #ececec;
  --background-gray: #272727;
  --black: #242424;
  --font-bebas: "Bebas Neue", cursive;
  --font-Anton: "Anton", sans-serif;
  --font-Roboto: "Roboto", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #141414;
  box-sizing: border-box;
  scroll-behavior: smooth;


}

h1,
h3,
h2,
h5,
h6,
h4,
p {
  margin: 0px;
}

input {
  &:focus {
    border: none;
    outline: none;
  }

}

a {
  text-decoration: none;
}

.red {
  color: var(--red);
}

.white {
  color: rgba(230, 230, 230, 1);
}


/*
//mobile
//telas muito pequenas
//telas smartphone padrão
@media (max-width: 375px){
    
}

//telas smartphone maiores
@media (min-width: 375.1px) and (max-width: 560px){
    
}

//telas Tablets (disp. medios)
@media (min-width: 560.1px) and (max-width: 768px){
    
}

//telas notebooks e monitores pequenos
@media (min-width: 769px) and (max-width: 1024px){
    
}

@media (min-width: 1025px) and (max-width: 1280px){
    
}

//telas de monitores maiores
@media (min-width: 1281px) and (max-width: 1440px){
    
}
@media (min-width: 1441px){
    
}
*/