.container {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: var(--background-gray);
}

.movie {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;

    .movieName {
        position: absolute;
        top: 3%;
        left: 2%;
        display: flex;
        align-items: center;
        gap: 20px;
        width: 700px;


        .buttonPreview {
            background-color: transparent;
            border: none;
            width: 40px;
            height: 40px;
            cursor: pointer;
            transition: .4s;

            svg {
                color: var(--white);
            }

            &:hover {
                transform: scale(1.2);
            }
        }

        h3 {
            z-index: 99;
            color: var(--white);
            font-size: 2rem;
            font-family: var(--font-bebas);
        }

    }

    .flagContainer {
        position: absolute;
        top: 2.5%;
        right: 4%;

        z-index: 98;
    }

    .iframe {
        height: 100vh;
        width: 100%;
        display: flex;

        iframe {
            border: none;
            object-fit: 'contain';
        }
    }

    .helpContainer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .background {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, .4);
            z-index: 1;
        }

        .help {
            background-color: var(--background-gray);
            border-radius: 1em;
            width: 30%;
            height: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2;
        }
    }
}