.container {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.movie {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;

    .movieName {
        position: absolute;
        top: 3%;
        left: 2%;
        display: flex;
        align-items: center;
        gap: 20px;
        width: 700px;


        .buttonPreview {
            background-color: transparent;
            border: none;
            width: 40px;
            height: 40px;
            cursor: pointer;
            transition: .4s;

            svg {
                color: var(--white);
            }

            &:hover {
                transform: scale(1.2);
            }
        }

        h3 {
            z-index: 99;
            color: var(--white);
            font-size: 2rem;
            font-family: var(--font-bebas);
        }

    }




    .iframe {
        height: 100vh;
        width: 100%;
        display: flex;

        iframe {
            border: none;
            object-fit: 'contain';
        }
    }
}