.buttonWatchLater {
    display: flex;
    justify-content: center;
    width: 180px;

    button {
        background-color: transparent;
        color: var(--white);
        border: none;
        border-radius: 8px;
        width: 180px;
        height: 100px;
        transition: all .2s;
        cursor: pointer;

        &:hover {
            background-color: #1e1e1e;
        }
    }
}