/*.player {
    border: none;
    width: 100%;
    height: 100%;
}*/

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    cursor: pointer;
    //pointer-events: none;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.controls {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    transition: opacity 0.3s ease;

    .bottom {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 16px;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);



        //barra de progresso
        .timeline {
            position: relative;
            height: 6px;
            background: rgba(255, 255, 255, 0.3);

            .progress {
                position: absolute;
                height: 100%;
                background: #e50914;
            }

            .thumb {
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 14px;
                height: 14px;
                background: #e50914;
                border-radius: 50%;
            }
        }



        /*.progress {
    width: 99%;
    margin-bottom: 8px;
    cursor: pointer;

    padding: 0 7px;


    //bolinha
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 14px;
        height: 14px;
        background: #e50914;
        border-radius: 50%;

        margin-top: 0px;
        //margin-left: -7px;
        //margin-right: -10px;
    }

    /*&::-webkit-slider-runnable-track {
        //height: 6px;
        background: rgba(255, 255, 255, 0.3);
        //border-radius: 999px;
    }

    &::-moz-range-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 14px;
        height: 14px;
        background: #e50914;
        border: none;
        border-radius: 50%;
    }*/

        /*//trilho
    &::-webkit-slider-runnable-track {
        background-color: var(--white);
        border-radius: 50%;
        height: 6px;
    }

    &::-moz-range-track {
        height: 6px;
        background-color: var(--white);
        border-radius: 50%;
    }

    //barra de progresso já visto
    &::-moz-range-progress {
        background-color: var(--red);
        height: 6px;
        border-radius: 50%;
    }
}*/

        .actions {
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
                background: none;
                border: none;
                color: #fff;
                font-size: 18px;
                cursor: pointer;
            }

            span {
                color: #fff;
                font-size: 14px;
            }
        }
    }
}

.visible {
    opacity: 1;
}

.hidden {
    opacity: 0;
}