.userData {
    padding: 20px; // evita encostar nas laterais
    background: var(--white);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .05);
    margin-bottom: 25px;

    h3,
    h4 {
        font-size: 1.4rem;
        border-bottom: 2px solid #e3e3e3;
        padding-bottom: 8px;
        margin-bottom: 18px;
    }

    p {
        margin-bottom: 20px;
    }

    .formContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        .passwordRequires {
            padding: 10px 0 0 10px;
        }
    }

    .addressGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    label {
        display: flex;
        flex-direction: column;
        font-size: 0.95rem;
        font-weight: 500;
        gap: 6px;

        input {
            padding: 10px 12px;
            font-size: 1rem;
            border: 1px solid #ccc;
            border-radius: 6px;
            transition: border-color .2s;

            &:focus {
                border-color: var(--red);
                outline: none;
            }
        }
    }
}

@media (max-width: 768px) {
    .userData {
        padding: 16px;

        .formContainer {
            grid-template-columns: 1fr; // uma coluna
        }

        .addressGrid {
            grid-template-columns: 1fr; // uma coluna
        }

        label input {
            font-size: 1rem;
        }
    }
}