.crewMember {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .crewImage {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 200px;
        border: 2px solid transparent;
        border-radius: .5rem;
        overflow: hidden;
        transition: all .4s;

        &:hover {
            border: 2px solid white;
        }

        img {
            object-fit: cover;
            object-position: center;
        }

        svg {
            height: 100%;
            width: 60%;
            color: #242424;
        }
    }

    .crewInfo {
        padding: 8px 0 0 5px;
    }
}