.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: var(--font-Roboto);

    a {
        color: var(--red);
    }

    .homeLink {
        background-color: var(--red-selected);
        padding: 10px 20px;
        border-radius: .4rem;
        cursor: pointer;

        a {
            color: var(--white);
        }

    }

}