.sectionContainer {
    display: flex;
    padding-top: 220px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    //background: none;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.74) 60%, var(--background-black) 80%),
        url('/fundo-filmes.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .contentContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        width: 100vw;
        height: 70%;
        overflow-x: hidden;

        .title {
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 12px;
            flex-wrap: wrap;
            padding: 0 20px;

            h1 {
                padding-bottom: 20px;
            }
        }

        .plansContainer {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
            gap: 20px;
            justify-content: center;
            align-items: center;
            width: 95%;
            margin-bottom: 20px;
            overflow-x: hidden;

            .border {
                border: 4px solid var(--red-selected);
            }

            .plan {
                background-color: var(--white);
                color: var(--black);
                border-radius: 1rem;
                width: 300px;
                height: 360px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 20px;
                gap: 10px;
                position: relative;

                .recomended {
                    position: absolute;
                    top: 0px;
                    bottom: 378px;
                    color: white;
                    font-weight: 900;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    background-color: var(--red-selected);
                    right: 0;
                    left: 0;
                    //border-radius: 1rem 1rem 0 0;
                    display: flex;
                    justify-content: center;

                }

                .infoPlan {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 10px;
                    height: 100%;

                    .planDetails {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        .planName {
                            font-size: 2rem;
                            font-family: var(--font-bebas);
                        }

                        .planPrice {
                            font-size: 1.8rem;
                            font-family: var(--font-Anton);
                        }

                        .priceDiscount {
                            font-size: 1.5rem;
                            color: var(--red);
                            font-weight: bold;
                            font-family: var(--font-bebas);
                        }

                        .planType {
                            span {
                                text-transform: capitalize;
                            }
                        }
                    }
                }

                .buttonContainer {
                    button {
                        background-color: var(--red-selected);
                        width: 100%;
                        height: 50px;
                        border-radius: 2rem;
                        color: var(--white);
                        font-size: 1.2rem;
                        font-weight: 900;
                        transition: .4s;

                        &:hover {
                            transform: scale(1.05);
                            background-color: var(--red);
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 375px) {
    .sectionContainer {
        padding-top: 100px;

        .contentContainer {
            .title {
                padding-top: 100px;
            }

            .plansContainer {
                grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
                place-items: center;
            }
        }
    }
}

@media(min-width: 375.1px) and (max-width: 560px) {
    .sectionContainer {
        padding-top: 50px;


        .contentContainer {
            .title {
                padding-top: 100px;
            }

            .plansContainer {
                grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
                place-items: center;
            }
        }
    }
}

@media(min-width: 560.1px) and (max-width: 768px) {
    .sectionContainer {
        padding-top: 100px;

        .contentContainer {
            justify-content: flex-start;

            .plansContainer {
                grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
                place-items: center;

            }
        }
    }
}

@media(min-width: 768px) and (max-width: 915px) {
    .sectionContainer {
        padding-top: 100px;
    }
}

@media (max-width: 1280px) {}

@media (max-width: 1440px) {}

@media (max-width: 1920px) {}