@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap");

:root {
  --blue: #2349bd;
  --blue-selected: #1e49d2cc;
  --grey: #686868;
  --grey-selected: #a29f9f;
  --red: #d42c2c;
  --red-selected: #aa2323e6;
  --white: #dbdbdb;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #141414;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

h1,
h3,
h2,
h5,
h6,
h4,
p {
  margin: 0px;
}

a {
  text-decoration: none;
}

.red {
  color: var(--red);
}

.white {
  color: rgba(230, 230, 230, 1);
}