.carousel-container {
    position: relative;
    width: 100%;
    margin: 30px 0;

    .content_title {
        font-family: var(--font-bebas);
        color: var(--white);
        font-size: 35px;
        letter-spacing: 5px;
        padding-left: 40px;
        margin-bottom: 10px;
    }

    .buttonContainer {
        visibility: visible;

        .swiper-button-prev,
        .swiper-button-next {
            position: absolute;
            top: 52px;
            color: white;
            border: none;
            cursor: pointer;
            z-index: 10;
            height: 600px;
            width: 100px;
            transition: all .4s;
            display: flex;
            flex-direction: column;
            justify-content: center;

            svg {
                transition: .4s;
            }
        }

        .swiper-button-prev {
            left: -40px;
            align-items: flex-start;

            &:hover {
                background: linear-gradient(90deg, rgba(0, 0, 0, 1)0%, transparent 100%);

                svg {
                    transform: scale(1.5);
                }
            }
        }

        .swiper-button-next {
            right: -40px;
            align-items: flex-end;

            &:hover {
                background: linear-gradient(270deg, rgba(0, 0, 0, 1)0%, transparent 100%);

                svg {
                    transform: scale(1.5)
                }
            }
        }
    }


}

@media(max-width: 915px) {

    .carousel-container {
        .buttonContainer {
            visibility: hidden;
        }

    }


}