.carouselContainer {
    position: relative;
    width: 100%;
    margin: 0;
    padding-right: 7px;
    //outline: 2px solid red;

    .contentTitle {
        font-family: var(--font-bebas);
        color: var(--white);
        font-size: 1.8rem;
        letter-spacing: 4px;
        //padding-left: 40px;
        //margin-bottom: 10px;
    }

    .carousel {
        padding-right: 4px;
        //outline: 2px solid blue;
    }

    h2 {
        user-select: none;
    }
}