.faqContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;

    .faq {
        width: 80%;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 50px;
        margin-bottom: 100px;

        .title {
            h1 {
                text-transform: uppercase;
                text-align: center;
            }
        }
    }
}

@media(max-width: 375px) {}

@media(min-width: 375.1px) and (max-width: 560px) {}

@media(min-width: 560.1px) and (max-width: 768px) {}

@media(min-width: 768px) and (max-width: 915px) {}

@media (max-width: 1280px) {}

@media (max-width: 1440px) {}

@media (max-width: 1920px) {}