.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    //min-height: 100vh;
    height: 100%;
    //padding-top: 10px;
    margin-bottom: 200px;
    width: 100%;
    position: relative;
    overflow: hidden;
    font-family: var(--font-Roboto);

    .imageContainer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        z-index: 1;

        img {
            width: 100%;
            height: 100%;
            //aspect-ratio: 9 / 10;
            object-fit: cover;
            object-position: center;
        }
    }

    .coverContainer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100svh;
        background: rgb(20, 20, 20);
        background: linear-gradient(0deg,
                rgba(20, 20, 20, 1) 10%,
                rgba(255, 255, 255, 0) 30%);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        z-index: 2;
    }

    .content {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 25px;
        padding-top: 10rem;
        z-index: 3;

        .movieInfo {
            display: flex;
            gap: 20px;
        }

        .buttonPlay {
            margin: 0.5rem 0;

            button {
                padding: 10px;
                width: 300px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;
                background-color: var(--white);
                border: none;
                border-radius: 8px;
                color: var(--black);
                cursor: pointer;
                transition: all .2s;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }

        .buttonContainer {
            display: flex;
            justify-content: center;
            align-content: center;
            gap: 10px;

            .buttonFavorite {
                button {
                    background-color: transparent;
                    color: var(--white);
                    border: none;
                    border-radius: 8px;
                    width: 180px;
                    height: 100px;
                    transition: all .2s;

                    &:hover {
                        background-color: #1e1e1e;
                    }
                }
            }
        }

        .descriptionContainer {
            margin-bottom: 100px;
        }
    }

    .loading {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;

        .loadingContainer {
            height: 100px;
            width: 100%;
        }
    }
}

//@media(max-width: 340px) {}

@media(max-width: 390px) {
    .container {
        .content {
            padding-top: 10rem;

            .buttonContainer {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
            }
        }

        .imageContainer {
            height: 100svh;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                //aspect-ratio: 2 /3;

            }
        }

        .coverContainer {
            height: 100vh;
            background: linear-gradient(0deg,
                    rgba(20, 20, 20, 1) 25%,
                    rgba(255, 255, 255, 0) 50%);
        }
    }
}

@media(min-width: 391px) and (max-width: 570px) {
    .container {
        .content {
            padding-top: 10rem;

            .buttonContainer {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
            }
        }

        .imageContainer {
            height: 100vh;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                //aspect-ratio: 2 /3;

            }
        }

        .coverContainer {
            height: 100vh;
            background: linear-gradient(0deg,
                    rgba(20, 20, 20, 1) 25%,
                    rgba(255, 255, 255, 0) 50%);
        }
    }
}

@media(min-width: 571px) and (max-width: 915px) {
    .container {
        .imageContainer {
            height: 100vh;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                //aspect-ratio: 2 /3;

            }
        }

        .coverContainer {
            height: 100vh;
            background: linear-gradient(0deg,
                    rgba(20, 20, 20, 1) 25%,
                    rgba(255, 255, 255, 0) 50%);
        }
    }
}

@media(min-width: 916px) and (max-width: 1400px) {
    .container {
        .imageContainer {
            height: 100vh;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                //aspect-ratio: 2 /3;

            }
        }

        .coverContainer {
            height: 100vh;
            background: linear-gradient(0deg,
                    rgba(20, 20, 20, 1) 10%,
                    rgba(255, 255, 255, 0) 20%);
        }
    }
}