$scrollbar-width: 10px;
$scrollbar-thumb-color: #888;
$scrollbar-track-color: #f1f1f1;
$scrollbar-thumb-border: 2px solid #ddd;

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 150px;
    margin-bottom: 200px;
    width: 100%;
    position: relative;
    overflow: hidden;
    font-family: var(--font-Roboto);

    .imageContainer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        min-height: 100vh;
        overflow: hidden;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        .img {
            object-fit: cover;
            object-position: center;
        }
    }

    .coverContainer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgb(20, 20, 20);
        background: linear-gradient(0deg,
                rgba(20, 20, 20, 1) 20%,
                rgba(255, 255, 255, 0) 100%);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        z-index: 2;
    }

    .content {
        width: 90%;
        //outline: 2px solid red;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 25px;
        //padding-left: 10rem;
        padding-top: 20rem;
        z-index: 3;



        .titleContainer {
            h1 {
                margin: 0;
                font-size: 3rem;
            }

            .harryFont {
                font-family: var(--font-Potter);
                font-size: 6rem;
                font-weight: 100;
                word-spacing: -20px;
            }

            .subHarryFont {
                font-family: var(--font-Potter);
                font-size: 2rem;
                font-weight: 100;
                word-spacing: -6px;
            }

            h3 {

                font-size: 1.5rem;
            }
        }

        .movieDetail {
            h4 {
                display: flex;
                font-weight: 500;
            }
        }

        .generoContainer {
            padding-bottom: 10px;

            h4 {
                font-weight: 500;
            }
        }

        .movieInfo {
            display: flex;
            gap: 20px;
        }

        .buttonPlay {
            margin: 0.5rem 0;

            button {
                padding: 10px;
                width: 300px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;
                background-color: var(--white);
                border: none;
                border-radius: 8px;
                color: var(--black);
                cursor: pointer;
                transition: all .2s;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }

        .buttonContainer {
            display: flex;
            justify-content: center;
            align-content: center;
            gap: 10px;



            .buttonFavorite {
                button {
                    background-color: transparent;
                    color: var(--white);
                    border: none;
                    border-radius: 8px;
                    width: 180px;
                    height: 100px;
                    transition: all .2s;

                    &:hover {
                        background-color: #1e1e1e;
                    }
                }
            }
        }

        .descriptionContainer {
            margin-bottom: 100px;
        }


    }

    .loading {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;

        .loadingContainer {
            height: 100px;
            width: 100%;
        }
    }
}

@media(max-width: 570px) {
    .container {
        .content {
            .buttonContainer {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
            }
        }
    }
}