.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    //    padding: 2rem 4rem;
    height: 100%;
    color: var(--white);
    font-family: var(--font-Roboto);
    padding: 250px 8rem;
    overflow-x: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.userInfo h2 {
    font-size: 1.8rem;
}

.plans {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .planGrid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;

    }
}

.planCard {
    border: 1px solid #2a2a2a;
    border-radius: 8px;
    padding: 1.5rem;
    background: var(--black);
    color: white;
    cursor: pointer;

    strong {
        display: block;
        font-size: 1.1rem;
    }

    span {
        margin-top: 0.5rem;
        display: block;
    }
}

.active {
    border-color: #ff0055;
    background: rgba(255, 0, 85, 0.1);
}

.userData input {
    width: 100%;
    padding: 0.75rem;
    margin-top: 0.75rem;
    border-radius: 6px;
    border: 1px solid #333;
    background: #0b0b0b;
    color: white;
}

.billetBox {
    padding: 1rem;
    border: 1px solid #333;
    border-radius: 8px;
}

.checkbox {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
    cursor: pointer;
}

.advice {
    padding-top: 10px;
    font-size: .9rem;

    strong {
        a {
            color: var(--red);
        }
    }
}

.summary {
    position: sticky;
    top: 2rem;
    border: 1px solid #333;
    border-radius: 12px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h3 {
        color: #7a7a7a;
    }

    .asidePlanName {
        font-size: 1.7rem;
    }

    .asidePrice {
        display: flex;
        width: 100%;
        justify-content: space-between;

    }

    button {
        width: 100%;
        margin-top: 2rem;
        padding: 1rem;
        border-radius: 8px;
        background: #ff0055;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    button:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}