.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-family: var(--font-Roboto);


    .suporteContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 900px;
        margin: 200px 0;

        h1 {
            text-align: center;

            .brand {
                font-family: var(--font-Anton);

                .red {
                    color: var(--red);
                }
            }

        }

        h3 {
            padding-bottom: 10px;
        }
    }

    .faqContainer {
        width: 60%;
        background-color: #242424;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border-radius: 2rem;
        gap: 15px;
        //margin-top: 300px;
        margin-bottom: 200px;
        scrollbar-width: thin;
        scrollbar-color: var(--background-gray-light) var(--black);

        .title {
            background-color: var(--white);
            color: #242424;
            font-family: var(--font-Roboto);
            font-size: 0.8rem;
            height: 100px;
            text-align: center;
            place-content: center;
            width: 100%;
            border-radius: 2rem 2rem 0 0;
        }

        .questionsContainer {
            width: 85%;
            height: 80%;
            border-radius: 2rem;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: 12px;


            a {
                color: var(--red);
            }
        }
    }
}