.container {
    width: 100vw;
    height: 100vh;

    .carousel {
        width: 100%;
        height: 100%;
    }

    :global(.swiper-pagination) {
        position: absolute;
        bottom: 20px;
        min-width: 60px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 50;
        background-color: var(--background-gray);
        border-radius: 4rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 5px;
    }

    :global(.swiper-pagination-bullet) {
        background-color: rgba(255, 255, 255, 0.5);
        width: 7px;
        height: 7px;
        transition: 0.3s;
        border-radius: 50%;
        //outline: 2px solid red;
        margin: 0 2px;
    }

    :global(.swiper-pagination-bullet-active) {

        background-color: #fff;
        transform: scale(1.2);
        //outline: 2px solid green;
    }
}