.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 14px;
    padding: 50px;
    color: var(--white);
    justify-content: center;
    align-items: center;


}

.title {
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    //background-color: red;
    height: 10vh;
}