.container {
    display: flex;
    //padding: 120px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-family: var(--font-Roboto);


    .donateContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 3rem;
        padding: 0 50px;
        height: 70%;

        .title {
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 12px;

            h1 {
                padding-bottom: 20px;
            }

            .brand {
                font-family: var(--font-Anton);
                font-size: 1.2rem;
            }

            .red {
                color: var(--red)
            }

            .white {
                color: var(--white)
            }
        }

        .donate {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: 20px;


            .qrcodeContainer {
                display: flex;
                flex-direction: column;
                gap: 8px;
                align-items: center;
            }

            .keyContainer {
                display: flex;
                flex-direction: column;
                gap: 3rem;
                justify-content: center;
                align-items: center;

                p {
                    text-align: center;
                }

                .key {
                    font-weight: 900;
                    font-size: 1.4rem;
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .container {
        height: 100%;

        .donateContainer {
            .donate {
                grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            }
        }
    }
}

@media (min-width: 375.1px) and (max-width: 560px) {
    .container {
        height: 100%;

        .donateContainer {
            .donate {
                grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            }
        }
    }
}

@media (min-width: 560.1px) and (max-width: 768px) {
    .container {
        .donateContainer {
            .donate {
                grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {}

@media (max-width: 1280px) {
    .keyContainer {
        padding-top: 3rem;
    }
}

@media (max-width: 1440px) {}

@media (max-width: 1920px) {}