/* TOP SECTION */



.top_container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #141414;
    background-repeat: no-repeat;
    background-size: cover;




    .image_container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        // transition: opacity 1s ease-in-out;


        background: rgb(24, 24, 24);
        background: linear-gradient(0deg,
                rgba(20, 20, 20, 1) 0%,
                rgba(255, 255, 255, 0) 36%);

        .left_side {
            width: 60%;
            height: 400px;
            padding-left: 10%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;


            h1 {
                margin: 0;
                font-family: "Montserrat", sans-serif;
                font-weight: 600;
                font-size: 65px;
                color: white;
                text-shadow: 5px 5px 10px black;
            }

            .subtitulo_principal {
                margin: 0px;
                font-family: "Montserrat", sans-serif;
                font-weight: 600;
                font-size: 45px;
                color: white;
                text-shadow: 5px 5px 10px black;
            }

            .description {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                height: 50px;
                line-clamp: 3;
                overflow: hidden;
                text-overflow: ellipsis;
                //border: 1px solid red;
                padding: 1rem 0;
                margin-bottom: 1rem;

                p {
                    margin: 0px;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 400;
                    font-size: 20px;
                    color: white;
                    text-shadow: 2px 2px 1px black;
                }
            }

            .button_section {
                width: 100%;
                display: flex;
                font-family: "Roboto", sans-serif;

                svg {
                    width: 25px;
                    height: 25px;
                    min-width: 25px;
                    padding-left: 10px;
                }

                .watch,
                .queue {
                    padding: 10px 25px;
                    border-radius: 8px;
                }

                .watch {
                    color: white;
                    display: flex;
                    background-color: var(--red);
                    transition: all 0.5s;

                    &:hover {
                        background-color: var(--red-selected);
                        cursor: pointer;
                        // transform: ;
                        transform: translateY(5px) scale(1.1);
                    }
                }

                .queue {
                    color: white;
                    display: flex;
                    background-color: var(--grey);
                    margin-left: 30px;
                    transition: all 0.5s;

                    &:hover {
                        background-color: var(--grey-selected);
                        cursor: pointer;
                        transform: translateY(5px) scale(1.1);
                    }
                }

            }


        }

    }









    h3 {
        display: flex;
        align-items: center;
    }




}



@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }



    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }



    100% {
        opacity: 0;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;


}

//mobile
//telas muito pequenas
//telas smartphone padrão
@media (max-width: 375px) {
    .top_container {
        height: 10%;
        //background-color: red;
        background-size: contain;

        justify-content: flex-end;


        .image_container {
            background: rgb(24, 24, 24);
            background: linear-gradient(0deg,
                    rgba(20, 20, 20, 1) 72%,
                    rgba(255, 255, 255, 0) 84%);

            .left_side {
                justify-content: center;
                width: 100%;
                //padding-left: 0;
                padding: 120px 25px 0 25px;

                h1 {
                    font-size: 2rem;

                }

                .subtitulo_principal {
                    font-size: 1.2rem;
                }

                .description {
                    p {
                        font-size: 1.2rem;
                    }
                }

                .button_section {
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 10px;
                    //background-color: red;

                    .watch {

                        display: flex;
                        justify-content: center;
                    }

                    .queue {
                        margin-left: 0;

                        h3 {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }
}

//telas smartphone maiores
@media (min-width: 375.1px) and (max-width: 560px) {
    .top_container {
        height: 10%;
        //background-color: red;
        background-size: contain;

        justify-content: flex-end;


        .image_container {
            background: rgb(24, 24, 24);
            background: linear-gradient(0deg,
                    rgba(20, 20, 20, 1) 67%,
                    rgba(255, 255, 255, 0) 83%);

            .left_side {
                justify-content: center;
                width: 100%;
                //padding-left: 0;
                padding: 120px 25px 0 25px;

                h1 {
                    font-size: 2rem;

                }

                .subtitulo_principal {
                    font-size: 1.2rem;
                }

                .description {
                    p {
                        font-size: 1.2rem;
                    }
                }

                .button_section {
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 10px;
                    //background-color: red;

                    .watch {

                        display: flex;
                        justify-content: center;
                    }

                    .queue {
                        margin-left: 0;

                        h3 {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }
}

//telas Tablets (disp. medios)
@media (min-width: 560.1px) and (max-width: 768px) {
    .top_container {
        height: 10%;
        //background-color: red;
        background-size: contain;

        justify-content: flex-end;


        .image_container {
            background: rgb(24, 24, 24);
            background: linear-gradient(0deg,
                    rgba(20, 20, 20, 1) 40%,
                    rgba(255, 255, 255, 0) 80%);

            .left_side {
                justify-content: center;
                width: 100%;
                //padding-left: 0;
                padding: 120px 25px 0 25px;

                h1 {
                    font-size: 2rem;

                }

                .subtitulo_principal {
                    font-size: 1.2rem;
                }

                .description {
                    p {
                        font-size: 1.2rem;
                    }
                }

                .button_section {
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 10px;
                    //background-color: red;

                    .watch {

                        display: flex;
                        justify-content: center;
                    }

                    .queue {
                        margin-left: 0;

                        h3 {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }
}

//telas notebooks e monitores pequenos
@media (min-width: 769px) and (max-width: 1024px) {
    .top_container {
        background-position: center;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .top_container {
        background-position: center;
    }
}

//telas de monitores maiores
@media (min-width: 1281px) and (max-width: 1440px) {
    .top_container {
        background-position: center;
    }
}

@media (min-width: 1441px) {
    .top_container {
        background-position: center;
    }
}