.header {
    width: 100%;
    position: fixed;
    height: 100px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);
    display: flex;
    align-items: center;
    z-index: 10;
    transition: background-color 0.3s;

    .brand {
        margin-left: 25px;
        display: flex;
        transition: all 0.5s;
        cursor: pointer;

        .red {
            color: var(--red);
        }

        .white {
            color: rgba(230, 230, 230, 1);
        }

        &:hover {
            transform: scale(1.1);
        }

        h1 {
            font-family: var(--font-Anton);
            font-size: 35px;
        }
    }

    .main_nav {
        height: 100%;
        display: flex;
        align-items: center;
        margin-left: 50px;

        .button_container {
            height: calc(100% - 10px);
            margin: 5px 0;
            padding: 0px 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s;
            cursor: pointer;

            h2 {
                font-family: var(--font-Roboto);
                font-size: 20px;
                color: white;
                border: 0;
            }

            &:hover {
                transform: scale(1.1);

            }
        }

        .searchInput {
            border: none;
            padding: 0.5rem;
            border-radius: 0.4rem;

        }
    }

    .right_nav {
        margin-left: auto;
        display: flex;
        align-items: center;
        margin-right: 25px;

        .avatarImage {
            overflow: hidden;
            transition: all .2s;
            cursor: pointer;

            img {
                border-radius: 2rem;
            }

            &:hover {
                transform: scale(1.2);
            }
        }

        .button_container {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px 25px;
            border-radius: 8px;
            color: var(--white);
            cursor: pointer;

            transition: all .5s;

            &:hover {
                color: var(--red-selected);
            }
        }

    }

    .dropdown {
        display: none;
    }

    &:hover {
        background-color: rgba(51, 51, 51, 1);
        box-shadow: 0px 2px 10px black;
        transition: background-color 0.3s;
    }


}

//mobile
//telas muito pequenas e telas padrão
@media (max-width: 375px) {
    .header {
        background: none;

        &:hover {
            background: none;
            box-shadow: none;
        }

        .brand {
            display: none;
        }

        .main_nav {
            display: none;
        }

        .right_nav {
            display: none;
        }

        .dropdown {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            position: fixed;
            background-color: white;
            color: black;
            top: 95%;
            bottom: 0;
            left: 0;
            right: 0;
            gap: 10px;

            .dropdownIcon {
                padding: 2rem;
                position: relative;
                width: 100%;
                display: flex;
                justify-content: center;

                .dropdownAvatarImage {
                    overflow: hidden;
                    transition: all .2s;
                    //border-radius: 2rem;                    
                    cursor: pointer;

                    img {
                        border-radius: 2rem;
                    }

                    &:hover {
                        transform: scale(1.2);
                    }
                }

                .searchInputModal {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: -40px;
                    //left: -110px;
                    width: 180px;
                    border-radius: 0.4rem;
                    padding: 0 1rem;
                    background-color: white;
                    gap: 15px;

                    input {
                        border: none;
                        background-color: transparent;
                        height: 30px;
                        width: 150px;
                        padding: 0.4rem;
                    }
                }
            }

            .divider {
                width: 1px;
                height: 70%;
                border-radius: 2rem;
                background-color: #242424;
            }

        }
    }

}




//telas smartphone maiores
@media (min-width: 375.1px) and (max-width: 560px) {
    .header {
        background: none;

        &:hover {
            background: none;
            box-shadow: none;
        }

        .brand {
            display: none;
        }

        .main_nav {
            display: none;
        }

        .right_nav {
            display: none;
        }

        .dropdown {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            position: fixed;
            background-color: white;
            color: black;
            top: 95%;
            bottom: 0;
            left: 0;
            right: 0;
            gap: 10px;

            .dropdownIcon {
                padding: 2rem;
                position: relative;
                width: 100%;
                display: flex;
                justify-content: center;

                .dropdownAvatarImage {
                    overflow: hidden;
                    transition: all .2s;
                    //border-radius: 2rem;

                    cursor: pointer;

                    img {
                        border-radius: 2rem;
                    }

                    &:hover {
                        transform: scale(1.2);
                    }
                }

                .searchInputModal {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: -40px;
                    //left: -70%;
                    width: 280px;
                    border-radius: 0.4rem;
                    padding: 0 1rem;
                    background-color: white;
                    gap: 15px;

                    input {
                        border: none;
                        background-color: transparent;
                        height: 30px;
                        width: 250px;
                        padding: 0.4rem;
                    }
                }
            }

            .divider {
                width: 1px;
                height: 70%;
                border-radius: 2rem;
                background-color: #242424;
            }

        }
    }
}

//Tablets
//telas Tablets (disp. medios)
@media (min-width: 560.1px) and (max-width: 768px) {
    .header {
        background: none;

        &:hover {
            background: none;
            box-shadow: none;
        }

        .brand {
            display: none;
        }

        .main_nav {
            display: none;
        }

        .right_nav {
            display: none;
        }

        .dropdown {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            position: fixed;
            background-color: white;
            color: black;
            top: 95%;
            bottom: 0;
            left: 0;
            right: 0;
            gap: 10px;

            .dropdownIcon {
                padding: 2rem;
                position: relative;
                width: 100%;
                display: flex;
                justify-content: center;

                .dropdownAvatarImage {
                    overflow: hidden;
                    transition: all .2s;
                    //border-radius: 2rem;
                    cursor: pointer;

                    img {
                        border-radius: 2rem;
                    }

                    &:hover {
                        transform: scale(1.2);
                    }
                }

                .searchInputModal {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: -40px;
                    //left: -70%;
                    width: 280px;
                    border-radius: 0.4rem;
                    padding: 0 1rem;
                    background-color: white;
                    gap: 15px;

                    input {
                        border: none;
                        background-color: transparent;
                        height: 30px;
                        width: 250px;
                        padding: 0.4rem;
                    }
                }
            }

            .divider {
                width: 1px;
                height: 70%;
                border-radius: 2rem;
                background-color: #242424;
            }

        }
    }
}

//Desktops/notebooks
//telas notebooks e monitores pequenos
@media (max-width: 1024px) {}

@media (max-width: 1280px) {}

//telas de monitores maiores
@media (max-width: 1440px) {}

@media (max-width: 1920px) {}