.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: var(--font-Roboto);
    padding: 150px 50px;

    .contentContainer {
        display: grid;
        width: 80vw;
        gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

        h4 {
            cursor: pointer;
            transition: all .4s;
            text-transform: uppercase;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}