.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    position: relative;
    color: var(--white);
    font-family: var(--font-Roboto);
    cursor: pointer;


    .icon {
        position: absolute;
        top: 5px;
        right: 5px;

    }

    .question {
        display: flex;
        padding: 0.5rem 2rem 0.5rem 0.5rem;
        font-size: 1rem;
    }

    .answer {
        max-height: 0;
        overflow-y: auto;
        transition: max-height 0.5s;

        p {
            padding: 1rem;
            font-size: 1.1rem;
        }

    }

    .ativo {
        max-height: 200px;


    }

    .divider {
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 2rem;
    }

}